// @import "~@ng-select/ng-select/themes/default.theme.css";
.form-add-employee {
    margin-bottom: 100px;
    .header {
        background-color: #5a43a0;
        color: white;
        padding: 30px;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .valid-form {
            color: red;
            margin-left: 100px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            input, textarea, select{
                padding-left: 20px;
                padding-right: 20px;
                width: 80%;
                height: 30px;
            }

            label {
                span {
                    color: red;
                }
            }

            // input {
            //     width: 85%;
            //     height: 30px;
            // }

            textarea {
                height: 100px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .button-group {
            display: flex;
            gap: 50px;
            
            button {
                height: 40px;
                width: 100%;
                font-weight: bold;
                border: none;
            }
            
            .btn-secandary {
                color: black;
                background-color: aqua;
            }
            
            .btn-success {
                color: white;
                background-color: green;
            }
        }
    }
}