nav {
    background-color: #5a43a0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;

    position: fixed;
    // width: 94%;
    top: 0px;
    left: 0px;
    right: 0px;

    .nav-left {
        display: flex;
        gap: 50px;
        align-items: center;

        ul {
            list-style: none;
            margin-bottom: none;
            
            li {
                margin-top: 30px;
                padding: 15px 30px;
                height: 50px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: white;
                }

            } .active {
                height: 45px;
                background-color: #4e3598;
                border-bottom: #cdc6e2 solid 5px;
            }
            
        }
    }

    button {
        // background-color: #ff0001;
        background-color: rgb(227, 4, 4);
        color: white;
        font-weight: bold;
        padding: 10px 30px;
        border: none;
        border-radius: 15px;
    }
}