.data-table {
    h1 {
        margin-bottom: 30px;
    }

    .add-employee {
        background-color: #31d233;
        width: 300px;
        margin: 10px 5px;
        list-style: none;
        a { 
            font-size: 20px;
            display: flex;
            color: white;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            font-weight: bold;

            p {
                font-weight: 1000;
                margin: 5px;
                font-size: 30px;
            }
        }
    }

    table {
        width: 100%;
        background-color: grey;
        thead {
            // padding-top: 20px;
            background-color: #5a43a0;
            color: white;
            th {
                border: black solid 0px;
                padding:10px ;
            }
        }
        tbody{
            
            td {
                background-color: #f6f3ff;
                padding:10px ;
                text-align: center;

                .action-group {
                    display: flex;
                    justify-content: space-around;
                    gap: 20px;

                    button {
                        width: 100%;
                        font-weight: bold;
                        border: none;
                        padding: 10px 30px;
                        
                    }
                    .btn-warning {
                        color: black;
                        background-color: rgb(238, 238, 14);
                    }
                    .btn-info {
                        color: white;
                        background-color: rgb(84, 152, 255);
                    }
                    
                    .btn-danger {
                        color: white;
                        background-color: rgb(227, 4, 4);
                    }
                }
            }
        }
    }
}