<div class="container">
    <div class="data-table">
        <h1>Data Emplotyees</h1>
        <div class="btn-add-div">
            <div class="add-employee">
                <a [routerLink]="['add-employee']"><p>+</p> Add New Employees</a>
            </div>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriger">
            <thead>
                <tr>
                    <th>No</th> 
                    <th>username</th> 
                    <th>firstName</th> 
                    <th>lastName</th> 
                    <th>email</th>
                    <th>birthDate</th>
                    <th>basicSalary</th>
                    <th>status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of jsonData">
                    <td>{{ jsonData.indexOf(item) +1 }}</td> 
                    <td>{{ item.username }}</td> 
                    <td>{{ item.firstName }}</td> 
                    <td>{{ item.lastName }}</td> 
                    <td>{{ item.email }}</td>
                    <td>{{ item.birthDate }}</td>
                    <td>{{ item.basicSalary }}</td>
                    <td>
                        <p *ngIf="item.status">Active</p>
                        <p *ngIf="!item.status">DeActive</p>
                    </td>
                    <td>
                        <div class="action-group">
                            <button class="btn btn-info" (click)="goToDetail(item)">Detail</button>
                            <button class="btn btn-warning" (click)="showModalEdit(item)">Edit</button>
                            <button class="btn btn-danger" (click)="showModalDelete(item)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="modal-confirm" [ngClass]="{'open':modalShow,'':!modalShow}">
    <div class="modal-card">
        <div class="head-card" [ngClass]="{'danger-delete':deleteConfirm,'warning-edit':!deleteConfirm}">
            {{ confirmHead }} confirmation
        </div>
        <div class="body-card">
            <div class="confirmation-message">
                {{ confirmMessage }}
            </div>
            <div class="button-group">
                <button (click)="closeModal()">No</button>
                <button (click)="!deleteConfirm ? sendEmployeeObject(employeeObj, modalNavigate) : deleteOk(employeeObj.username)"
                [ngClass]="{'danger-delete':deleteConfirm,'warning-edit':!deleteConfirm}"
                >Yes</button>
            </div>
        </div>
    </div>
</div>
