<div class="container">
    <h1>Add New Employees</h1>
    <form action="#">
        <div>
            <label for="username">username</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="firstName">firstName</label>
            <input type="text" name="firstName">
        </div>
        <div>
            <label for="lastName">lastName</label>
            <input type="text" name="lastName">
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="birthDate">birthDate</label>
            <input type="text" name="birthDate">
        </div>
        <div>
            <label for="basicSalary">basicSalary</label>
            <input type="text" name="basicSalary">
        </div>
        <div>
            <label for="status">status</label>
            <input type="text" name="status">
        </div>
        <div>
            <label for="group">group</label>
            <input type="text" name="group">
        </div>
        <div>
            <label for="description">description</label>
            <input type="text" name="description">
        </div>
        <div class="button-group">
            <button>Cancel</button>
            <button>Submit</button>
        </div>
    </form>
</div>