<div class="container">
    <h1>Detail Employees</h1>
    <div class="card-detail">
        <div class="detail-head">
            <h3>{{ username }}</h3>
        </div>
        <div class="detail-body">
            <div class="row-one">
                <div class="col">
                    <div>
                        <label for="username">username</label>
                        : <input type="text" name="username" placeholder="{{ username }}" disabled>
                    </div>
                    <div>
                        <label for="firstName">firstName</label>
                        : <input type="text" name="firstName" placeholder="{{ firstName }}" disabled>
                    </div>
                    <div>
                        <label for="lastName">lastName</label>
                        : <input type="text" name="lastName" placeholder="{{ lastName }}" disabled>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="email">email</label>
                        : <input type="text" name="email" placeholder="{{ email }}" disabled>
                    </div>
                    <div>
                        <label for="birthDate">birthDate</label>
                        : <input type="text" name="birthDate" placeholder="{{ birthDate }}" disabled>
                    </div>
                    <div>
                        <label for="basicSalary">basicSalary</label>
                        : <input type="text" name="basicSalary" placeholder="{{ basicSalary }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="status">status</label>
                    : <input type="text" name="status" placeholder="{{ status }}" disabled>
                </div>
                <div>
                    <label for="group">group</label>
                    : <input type="text" name="group" placeholder="{{ group }}" disabled>
                </div>
                <div>
                    <label for="description">description</label>
                    : <input type="text" name="description" placeholder="{{ description }}" disabled>
                </div>
                <div class="button-group">
                    <button class="btn btn-secandary" routerLink="/">Back To Home</button>
                </div>
            </div>
        </div>
    </div>
</div>