/* You can add global styles to this file, and also import other style files */


* {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";

    .container {
      margin: 120px 40px 0px 40px;
      padding: 30px 30px 0px 30px;
      background-color: #f6f3ff;
      height: 100%;
    }

    .dataTables_wrapper {
      padding-bottom: 50px;
      .dataTables_filter {
        margin: 20px;
          }
      .dataTables_length {
            
            margin: 20px;
      }
  }
}